{
    "jsc": {
        "parser": {
            "syntax": "typescript",
            "tsx": false,
            "decorators": true
        },
        "target": "esnext",
        "loose": false,
        "minify": {
            "compress": true,
            "mangle": true
        }
    },
    "module": {
        "type": "commonjs"
    },
    "minify": true,
    "isModule": true
}